* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
  height: 100vh;
  background: linear-gradient(to right, rgb(138, 4, 210), rgb(128, 0, 122));
}
.container {
  padding: 0 20px;
  display: flex;
  background-color: aliceblue;
  padding-bottom: 30px;
  border-radius: 35px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
  /* padding-left: 10px; */
}
input {
  /* margin-left: 16px; */
  outline: none;
  width: 100%;
  padding: 18px;
  border-radius: 50px;
  border-style: none;
  background-color: rgba(228, 220, 220, 0.742);
}
h1 {
  text-align: center;
  margin-top: 65px;
}
a {
  text-decoration: none;
  color: rgb(22, 153, 22);
  text-align: center;
}
p {
  margin-right: 30px;
  text-align: center;
}
button {
  text-align: center;
  background-color: rgb(22, 153, 22);
  color: aliceblue;
  cursor: pointer;
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border-style: none;
}
.hyperlink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.email,
.password {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgba(228, 220, 220, 0.742);
 
  border-radius: 50px;
}
.iconimg {
  margin-left: 15px;
  width: 20px;
  height: 20px;
}

@media (max-width: 668px) {
  .right {
    width: 100%;
  }
  .left {
    display: none;
  }
  .container {
    width: 100%;
  }
  h1 {
    text-align: center;
    margin-top: 45px;
  }
}
